 @import "mobile_base.css";
 
 body{background:#474747;}

 .header{height:40px; font-size:17px; color:#fff; background:#282828; width:100%; text-align:center; line-height:40px;}
.inner_box{margin:10px; height:auto; background:#676767; padding:10px 0px;}
.inner_box .label_title{font-size:16px; padding-bottom:2px; color:#34b3ff; width:100%; text-align:center; display:block;}
.inner_box span:before,.inner_box span:after{clear:both; display:table; content:"";}
.inner_box .label_desc{font-size:13px; color:#fff; text-align:left; display:block; line-height:22px; margin:5px 10px 0px 10px;}
.inner_box .author_info{padding-top:10px; margin-top:10px; border-top:1px dashed #fff; text-align:center; height:35px; width:100%; position:relative;}
.inner_box .author_info .logo{width:35px; height:35px; display:block; position:absolute; left:50%; margin-left:-37.5px;}
.inner_box .author_info .logo img{width:100%; height:100%;}
.inner_box .author_info .author{position:absolute; display:block; left:50%; margin-left:2.5px; text-align:left; font-weight:normal;}
.inner_box .author_info .author i{color:#ff8100;  font-size:13px; display:block; margin-top:4px;}
.inner_box .author_info .author i.active{color:#fff;}
.inner_box .author_info .author em{color:#474747; font-size:11px;  display:block; margin-top:2px;}

.share_list{width:100%; height:auto;}
.share_list:before, .share_list:after{clear:both; display:table; content:"";}
.share_list li{width:50%; float:left;}
.share_list li .li_inner{padding:10px;}
.share_list li .li_inner img{display:block; width:100%;}

.share_list li .li_inner b{height:28px; width:100%; display:block; position:relative; font-weight:normal; margin-top:10px;}
.share_list li .li_inner b img{width:28px; height:28px; left:50%; margin-left:-48px; position:absolute;}
.share_list li .li_inner b span{color:#fff; font-size:14px; position:absolute; left:50%; margin-left:-10px; display:block; top:-1px;}
.share_list li .li_inner b em{color:#a4a4a4; font-size:11px; position:absolute; left:50%; margin-left:-10px; display:block; top:15px;}


@media screen and (min-width:321px) and (max-width:360px) 
{
    .header{height:45px; line-height:45px; font-size:19.125px;}
    .inner_box{margin:11.25px; padding:11.25px 0px;}
    .inner_box .label_title{font-size:18px; padding-bottom:2.25px;}
    .inner_box .label_desc{font-size:14.625px; line-height:24.75px; margin:3.75px 11.25px 0px 11.25px;}
    .inner_box .author_info{padding-top:11.25px; margin-top:11.25px; height:39.375px;}
    .inner_box .author_info .logo{width:39.375px; height:39.375px; margin-left:-42.2px;}
    .inner_box .author_info .author{margin-left:2.8px;}
    .inner_box .author_info .author i{font-size:14.625px; margin-top:2.25px;}
    .inner_box .author_info .author em{font-size:12px; margin-top:1px;}
    .share_list li .li_inner{padding:11.25px}
    .share_list li .li_inner b{height:31.5px; margin-top:11.25px;}
    .share_list li .li_inner b img{width:31.5px; height:31.5px; margin-left:-54px;}
    .share_list li .li_inner b span{font-size:15.75px; margin-left:-11.25px; top:-4.5px;}
    .share_list li .li_inner b em{font-size:12.375px; margin-left:-11.25px; top:15.75px;}
}
@media screen and (min-width:361px) and (max-width:480px) 
{
    .header{height:60px; line-height:60px; font-size:25.5px;}
    .inner_box{margin:15px; padding:15px 0px;}
    .inner_box .label_title{font-size:24px; padding-bottom:3px;}
    .inner_box .label_desc{font-size:19.5px; line-height:33px; margin:7.5px 15px 0px 15px;}
    .inner_box .author_info{padding-top:15px; margin-top:15px; height:52.5px;}
    .inner_box .author_info .logo{width:52.5px; height:52.5px; margin-left:-56.25px;}
    .inner_box .author_info .author{margin-left:3.75px;}
    .inner_box .author_info .author i{font-size:19.5px; margin-top:3px;}
    .inner_box .author_info .author em{font-size:16.5px;}
    
    .share_list li .li_inner{padding:15px}
    .share_list li .li_inner b{height:42px; margin-top:15px;}
    .share_list li .li_inner b img{width:42px; height:42px; margin-left:-72px;}
    .share_list li .li_inner b span{font-size:21px; margin-left:-15px; top:-5px;}
    .share_list li .li_inner b em{font-size:16.5px; margin-left:-15px; top:21px;}
}
@media screen and (min-width:481px)
{
    .header{height:80px; line-height:80px; font-size:34px;}
    .inner_box{margin:20px; padding:20px 0px;}
    .inner_box .label_title{font-size:32px; padding-bottom:4px; }
    .inner_box .label_desc{font-size:26px; line-height:44px; margin:10px 20px 0px 20px;}
    .inner_box .author_info{padding-top:20px; margin-top:20px; height:70px;}
    .inner_box .author_info .logo{width:70px; height:70px; margin-left:-75px;}
    .inner_box .author_info .author{margin-left:5px;}
    .inner_box .author_info .author i{font-size:26px; margin-top:4px;}
    .inner_box .author_info .author em{font-size:22px;}
    
    .share_list li .li_inner{padding:20px}
    .share_list li .li_inner b{height:56px; margin-top:20px;}
    .share_list li .li_inner b img{width:56px; height:56px; margin-left:-96px;}
    .share_list li .li_inner b span{font-size:28px; margin-left:-20px; top:-8px;}
    .share_list li .li_inner b em{font-size:22px; margin-left:-20px; top:28px;}
}
